@charset "UTF-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;

	box-sizing: border-box;
}

.myclear{
	clear:both;
}

body {
	background-color: #555;
	font-family: "Helvetica Neue", Helvetica;
	font-size: 100%;
}
#container {
	width: 100vw;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	min-height: 100vh;
}
header {
	min-height: 90px;
	background-color: #ddd;
}
header h1 {
	padding: 15px;
}
#accordion {
	width: 100%;
	margin: 0 auto;
}
#accordion p {
	margin-bottom: 10px;
}
.tab {
	padding:10px 10px 10px 50px;
	background-color: #999;
	border: solid 1px #333;
	color: #fff;
	cursor: pointer;
	font-size:16px;
	font-weight: 300;
	height: 40px;
	position:relative;
	transition: all 0.5s;
}

.currentTab {
	background-color:#FEFF5B;
	color:#A20002;
	font-weight: 700;
}

.tab img {
	width:20px;
	height: 20px;
	position:absolute;
	top: 10px;
	left:10px;
	transform: rotate(0deg);
	transition: all 0.5s;
}

.currentTab img{
	transform: rotate(90deg);
}



.panel {
	padding: 10px;
	background-color: #ccc;
	border: solid 1px #333;
	
}

#content1, #content2, #content3, #content4 {
	display: none;
}

img.single{
	display:block;
	float:left;
	width:50%;
	margin:1%;
	border:10px solid #fff;
}




img.gal{
	display:block;
	float:left;
	width:23%;
	margin:1%;
	border:10px solid #fff;
}

@media only screen and (max-width: 960px){
	img.gal{
	width:48%;
	margin:1%;
}
		
}

@media only screen and (max-width: 640px){
	img.gal, img.single{
		float:none;
	width:98%;
	margin:1%;
}

	
	

	
	
}
