@charset "UTF-8";

body {
	background: navy url(images/deepsea.jpg) top center no-repeat fixed;
	background-size: cover;
	height: 2000px;
}

#bubbles1,
#bubbles2,
#fish {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
}

#bubbles1 {
	background: url(images/bubbles1.png) 5% 50% no-repeat;
}

#bubbles2 {
	background: url(images/bubbles3.png) 95% 90% no-repeat;
}

#fish {
	left: -100%;
	background: url(images/fish.png) right 90% no-repeat;
}
